<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcmus.tinuni">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TinUni">
        <activity android:name=".Activity.ShowGroupMemberActivity"></activity>
        <activity android:name=".Activity.AddFriendActivity" />
        <activity android:name=".Activity.DemandManageActivity" />
        <activity android:name=".Activity.AddGroupDemandActivity" />
        <activity android:name=".Activity.AddToGroupActivity" />
        <activity android:name=".Activity.SettingGroupActivity" />
        <activity android:name=".Activity.ShowZoomImage" />
        <activity android:name=".Activity.ShowMediaActivity" />
        <activity android:name=".Activity.AddGroupActivity" />
        <activity android:name=".Activity.Authentication.ChangePasswordActivity" />
        <activity android:name=".Activity.Authentication.SignUpProcessLevelActivity" />
        <activity android:name=".Activity.Authentication.SignUpProcessEducationActivity" />
        <activity android:name=".Activity.Authentication.SignUpProcessPersonalActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Activity.Profile.EditProfileActivity" />
        <activity android:name=".Activity.Profile.UserProfileActitivy" />
        <activity android:name=".Activity.Profile.ShowProfileActitivy" />
        <activity android:name=".Activity.Authentication.LoadingActivity" />
        <activity
            android:name=".Activity.MessageActivity"
            android:label="@string/title_activity_message" />
        <activity android:name=".Activity.Authentication.ResetPasswordActivity" />
        <activity android:name=".Activity.AddDemandActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Authentication.SignUpActivity" />
        <activity android:name=".Activity.Authentication.SignInActivity">
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Activity.Admin.AdminInitialActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
    </application>

</manifest>